* {
	-webkit-box-sizing: border-box !important;
	-moz-box-sizing: border-box !important;
	box-sizing: border-box !important;
}
table {
	width: 100% !important;
	border: 1px solid !important;
	border-collapse: collapse !important;
	border-spacing: 0 !important;
}
table th,
table td {
	text-align: left !important;
	border: 1px solid !important;
	padding: 3px !important;
	line-height: 1.2 !important;
	vertical-align: top !important;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 11px;
	white-space: normal;
	word-wrap: break-word;
}
table thead th,
table thead td {
	border-bottom-width: 2px !important;
	vertical-align: middle !important;
}