#_desktop {
	height: 100vh;
	background-size: cover;
	padding-bottom: 35px;
}

.navbar-default .navbar-nav > li > a {
	color: white;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover {
	color: white;
	background: #3c8b9782;
}
.navbar-default .navbar-nav > .open > .dropdown-menu {
	margin-top: 4px;
}
.navbar-default .navbar-nav > .open > .dropdown-menu a {
	color: #516e1b;
	padding: 5px 20px;
}
.navbar-default .navbar-nav > .open > .dropdown-menu > .active > a {
	background-color: #ffcf3e17;
}
.navbar-default .navbar-nav > .open > .dropdown-menu a:hover {
	background-color: #fff00a42;
}

#notif_badge {
	position: absolute;
	margin-top: -5px;
	margin-left: -5px;
	border-radius: 10px;
}
#notif {
	max-height: 70vh;
	overflow: auto;
}
#notif-mobile {
	display: none;
	padding: 15px;
	list-style: none;
	float: right;
	margin: 0;
}
#notif-mobile a {
	color: white;
}
#notif-mobile .dropdown-menu {
	margin-top: 18px;
	right: 0;
	left: auto;
}
#notif-mobile .dropdown-menu a {
	color: #516e1b;
	padding: 5px 20px;
}
#notif-mobile .dropdown-menu .active > a {
	background-color: #ffcf3e17;
}

.breadcrumb {
	background: #f0ffc9;
}

.x_header {
	border-top: 5px solid #3c8b97;
}
.x_header > div {
	display: inline-block;
}
.x_header_title > h3 {
	font-weight: bold;
}

.ellipsis {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
a {
	text-decoration: none !important;
}
.form_pea_roll .form-group {
	margin-bottom: 0;
}
.form_pea_roll .checkbox {
	margin: 0;
}
.table-striped > tbody > tr:nth-of-type(2n+1) {
	background-color: #f9f9f98f;
}

.highcharts-credits {
	display: none;
}
#modal-modal_processing .close:hover {
 background: red !important;
 color: white;
}

@media only screen and (max-width: 767px) {
	.navbar-default .navbar-nav > .open > .dropdown-menu a {
		color: white !important;
	}

	.x_header_title > h3 {
		font-size: 20px;
	}

	#notif-mobile {
		display: inline-block;
	}
}