#_desktop {
	height: 100vh;
	background-size: cover;
	padding-bottom: 35px;
}

#_menu_shortcut {
	padding: 15px 10px;
}
#_menu_shortcut > a {
	color: white;
	font-size: 13px;
	text-align: center;
	display: inline-block;
	width: 75px;
	height: 75px;
	overflow: hidden;
}
#_menu_shortcut > a > i {
	display: block;
	width: 100%;
	font-size: 35px;
}
#_menu_shortcut > a:hover {
	text-shadow: 0 0 10px black;
}

.ellipsis {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
a {
	text-decoration: none !important;
}

#_content {
	padding: 15px;
}
.form_pea_roll .form-group {
	margin-bottom: 0;
}
.form_pea_roll .checkbox {
	margin: 0;
}

.table-striped > tbody > tr:nth-of-type(2n+1) {
	background-color: #f9f9f98f;
}

.highcharts-credits {
	display: none;
}
#modal-modal_processing .close:hover {
 background: red !important;
 color: white;
}