#_desktop {
	height: 100vh;
	background-size: cover;
	padding-bottom: 35px;
}

#_menu_shortcut {
	padding: 15px 10px;
}
#_menu_shortcut > a {
	color: white;
	font-size: 13px;
	text-align: center;
	display: inline-block;
	width: 75px;
	height: 75px;
	overflow: hidden;
}
#_menu_shortcut > a > i {
	display: block;
	width: 100%;
	font-size: 35px;
}
#_menu_shortcut > a:hover {
	text-shadow: 0 0 10px black;
}

#_taskbar {
	height: 35px;
	width: 100%;
	background: #000000e8;
	position: fixed;
	bottom: 0;
	box-shadow: 0 0 5px black;
	z-index: 99999999999999999999;
}

#_start {
	height: 35px;
	display: inline-block;
	color: white;
	padding-right: 10px;
}
#_start:hover {
	background: #403e3ea6;
}
#_start span {
	border-right: 2px solid;
	padding: 5px 10px 5px 0px;
	border-radius: 50%;
}
#_start i {
	border: 2px solid #337ab7;
	padding: 3px;
	border-radius: 50%;
	width: 25px;
	height: 25px;
	margin: 5px;
	transition: .3s;
}
#_menu.active + #_taskbar > #_start i{
	transform: rotate(90deg);
}

#_datetime {
	float: right;
	padding: 5px;
	color: white;
	font-size: 12px;
	line-height: 12px;
	text-align: center;
}

#_menu {
	background: #151414e6;
	box-shadow: 0 0 5px black;
	position: fixed;
	bottom: 35px;
	width: 300px;
	height: 500px;
	max-width: 100%;
	max-height: 80vh;
	padding: 15px 10px 10px 10px;
	z-index: 99999999999999999999;
}
#_user_info > img {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	display: inline-block;
	position: relative;
	top: -11px;
}
#_user_info > a:nth-child(2) {
	color: white;
	display: inline-block;
	font-size: 20px;
	padding: 0 5px;
	width: calc(100% - 100px);
}
#_user_info > a:nth-child(3) {
	color: white;
	font-size: 20px;
	float: right;
}
#_user_info > a:hover {
	background: #403e3ea6;
}

#_menu_list {
	padding: 10px 0;
	height: 430px;
	overflow: auto;
	max-height: calc(80vh - 70px);
}
#_menu_list a {
	color: white;
	display: block;
	padding: 5px;
	font-size: 15px;
}
#_menu_list a > i {
	background: #847a7a;
	padding: 5px;
	width: 26px;
	height: 26px;
	margin-right: 7px;
	font-size: 17px;
}
#_menu_list a.active ,
#_menu_list a:hover {
	background: #403e3ea6;
}
#_menu_list div {
	margin-left: 15px;
	margin-bottom: 5px;
}
#_menu_list a[target="_iframe_sub"]:after {
	font: normal normal normal 14px/1 FontAwesome;
	text-rendering: auto;
	float: right;
	margin-top: 6px;
	margin-right: 5px;
	content: "\f0d7";
}
#_menu_list a.active[target="_iframe_sub"]:after {
	content: "\f0d8";
}

._iframes {
	position: absolute;
	top: 0;
	box-shadow: 0 0 5px gray;
	width: 100%;
}
._iframe_head {
	background: #333;
	text-align: right;
	color: white;
	padding: 5px;
	border: 2px solid black;
	border-bottom: 0;
}
._iframe_active ._iframe_head {
	background: black;
}
._iframe_body {
	border: 2px solid black;
	display: block;
	width: 100%;
	background: white;
	height: calc(100vh - 67px);
}
._iframe_title {
	float: left;
	width: calc(100% - 100px);
	text-align: left;
}
._iframe_title i {
	margin-right: 5px;
}
._iframe_refresh ,
._iframe_minimize ,
._iframe_maximize ,
._iframe_close {
	color: white !important;
}
._iframe_refresh:hover ,
._iframe_minimize:hover ,
._iframe_maximize:hover ,
._iframe_close:hover {
	text-shadow: 0 0 5px;
}
._iframe_body_clicker {
	position: absolute;
	width: 100%;
	height: calc(100% - 32px);
	bottom: 0;
	background: #00000014;
}
._iframe_active ._iframe_body_clicker {
	display: none;
}
._iframe_move.ui-draggable-dragging ._iframe_body_clicker ,
._iframe_move.ui-resizable-resizing ._iframe_body_clicker {
	display: block;
}
._iframe_move.ui-draggable-dragging {
	cursor: grabbing;
}
#_iframe_toggles {
	display: -webkit-inline-box;
	overflow: auto;
	width: calc(100% - 210px);
	white-space: nowrap;
}
#_iframe_toggles .ui-state-highlight {
	width: 200px;
	display: inline-block;
	height: 10px;
}
._iframe_toggles {
	display: inline-block;
	height: 35px;
	border-left: 1px solid #ffffff45;
	border-right: 1px solid #ffffff45;
}
._iframe_toggle_title {
	overflow: hidden;
	white-space: nowrap;
	color: white;
	display: flex;
	width: 200px;
	padding: 7px;
}
._iframe_toggle_title i {
	margin-right: 5px;
	font-size: larger;
}
._iframe_toggle_title i:before {
	vertical-align: middle;
}
._iframe_toggles._iframe_toggle_active ,
._iframe_toggles:hover {
	background: #403e3ea6;
}

.ellipsis {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
a {
	text-decoration: none !important;
}
@media only screen and (max-width: 768px) {
	#_iframe_toggles .ui-state-highlight ,
	._iframe_toggle_title {
		width: 120px;
	}
	#_datetime {
		display: none;
	}
	#_iframe_toggles {
		width: calc(100% - 95px);
	}
}


#_content {
	padding: 15px;
}
.form_pea_roll .form-group {
	margin-bottom: 0;
}
.form_pea_roll .checkbox {
	margin: 0;
}