#_desktop {
	height: 100vh;
	background-size: cover;
}

#_taskbar {
	height: 35px;
	width: 100%;
	background: #000000e8;
	position: fixed;
	bottom: 0;
}

#_start {
	height: 35px;
	display: inline-block;
	transition: .3s;
}
#_start .fa {
	border: 2px solid #337ab7;
	padding: 3px;
	border-radius: 50%;
	width: 25px;
	height: 25px;
	margin: 5px;
}
#_menu.active + #_taskbar > #_start {
	transform: rotate(90deg);
}

#_menu {
	background: #151414e6;
	box-shadow: 0 0 5px black;
	position: fixed;
	bottom: 35px;
	width: 400px;
	height: 700px;
	max-width: 100%;
	max-height: 80vh;
	padding: 20px 15px 15px 15px;
}
#_menu > div:nth-child(1) > img {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	display: inline-block;
	position: relative;
	top: -11px;
}
#_menu > div:nth-child(1) > a:nth-child(2) {
	color: white;
	display: inline-block;
	font-size: 20px;
	margin: 0 5px;
	width: calc(100% - 100px);
	text-decoration: none;
}
#_menu > div:nth-child(1) > a:nth-child(3) {
	color: white;
	font-size: 20px;
	float: right;
}

#_menu_list {
	padding: 10px 0;
}
#_menu_list > a {
	color: white;
	display: block;
	padding: 5px;
	font-size: 19px;
}
#_menu_list > a > .fa {
	background: #847a7a;
	padding: 5px;
	width: 35px;
	height: 35px;
	margin-right: 7px;
	font-size: 25px;
}
#_menu_list > a:hover {
	background: #403e3e;
	text-decoration: none;
}

.ellipsis {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}